# Yarn https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.*.sw*
.#*
.DS_Store
.env
.npmrc
*.log
*#
*~
/.vscode/
build/
dist/
node_modules/
