*.o
settheory
constraint
Main
Style
Substance
Tests
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
auto/
.#*
*#
.DS_STORE
#*
*.hi
.cabal-sandbox/
cabal.sandbox.config
dist/
utils/add_src.sh
utils/penrose.db
utils/penroseDB.py
__temp__.als
*.class
alloy
node_modules/
*~
.stack-work/
build/
.tmp/
_region_.tex
.vscode/
out*.txt
penrose-ide/
*.prof
*.subdesugared