*.hbs
/packages/automator/progs/
/packages/browser-ui/tsconfig.json
/packages/components/storybook-static/
/packages/core/docs/
/packages/core/src/__testfixtures__/
/packages/core/src/parser/DomainParser.ts
/packages/core/src/parser/StyleParser.ts
/packages/core/src/parser/SubstanceParser.ts
/packages/core/src/renderer/not_found.json
/packages/docs-site/.docusaurus/
/packages/docs-site/static/try/
/packages/roger/oclif.manifest.json
/README.md
build/
coverage/
dist/
public/app.css
public/app.js
tsconfig.tsbuildinfo
