**/build/
**/coverage/
**/dist/
**/docs/
**/tsconfig.tsbuildinfo
packages/core/src/__testfixtures__/
packages/core/src/parser/DomainParser.ts
packages/core/src/parser/StyleParser.ts
packages/core/src/parser/SubstanceParser.ts
packages/panels/public/app.css
packages/panels/public/app.js
