*.hbs
/packages/browser-ui/tsconfig.json
/packages/components/storybook-static/
/packages/core/docs/
/packages/core/src/__testfixtures__/
/packages/core/src/parser/DomainParser.ts
/packages/core/src/parser/StyleParser.ts
/packages/core/src/parser/SubstanceParser.ts
/packages/core/src/renderer/not_found.json
/packages/docs-site/.vitepress/cache/
/packages/docs-site/build/
/packages/docs-site/public/try/
/packages/docs-site/src/shapedefs.json
/packages/optimizer/bindings/
/packages/optimizer/build/
/packages/optimizer/index.js
/packages/optimizer/source.d.ts
/packages/optimizer/target/
/README.md
coverage/
dist/
public/app.css
public/app.js
tsconfig.tsbuildinfo
