@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vp-c-brand: #40b4f7;
  --vp-c-brand-light: rgb(116, 187, 228);
  --vp-c-brand-lighter: rgb(161, 205, 231);
  --vp-c-brand-dark: rgb(64, 180, 247);
  --vp-c-brand-darker: rgb(46, 154, 216);
}
