@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vp-c-brand-1: #40b4f7;
  /* --vp-c-brand-1: rgb(116, 187, 228); */
  --vp-c-brand-2: rgb(161, 205, 231);
  --vp-c-brand-3: rgb(64, 180, 247);
  --vp-c-brand-soft: rgb(46, 154, 216);
  --vp-code-color: #476582;
}

.dark {
  --vp-code-color: #c9def1;
}

.vp-doc a {
  text-decoration: none;
}

html, body {
  overflow-x: clip;
}