.embed-footer {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  padding: 0 1em;
  align-items: center;
  background-color: #40b4f7;
  border-radius: 0 0 9px 9px;
}

.embed-container {
  position: relative;
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.embed-text {
  font-family: "Open Sans", sans-serif;
  color: white;
  margin: 0.7em;
  font-weight: lighter;
  font-size: smaller;
}
