html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  overflow: auto;
}

#root {
  height: 100%;
}

[data-reach-tab] {
  border-bottom: solid 2px transparent;
}
[data-reach-tabs] {
  height: 100%;
}

[data-reach-tab-panels] {
  height: 100%;
}
[data-reach-tab-panel] {
  height: 100%;
}

[data-reach-tab][data-selected] {
  border-bottom-color: #40b4f7;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

/* https://github.com/tomkp/react-split-pane/issues/107#issuecomment-234453229 */

div.SplitPane.soloPane1.vertical > .Pane2,
div.SplitPane.soloPane2.vertical > .Pane1 {
  width: 0px !important;
}

div.SplitPane.soloPane1.vertical > .Pane1,
div.SplitPane.soloPane2.vertical > .Pane2 {
  width: 100% !important;
}

div.SplitPane.soloPane1.horizontal > .Pane2,
div.SplitPane.soloPane2.horizontal > .Pane1 {
  height: 0px !important;
}

div.SplitPane.soloPane1.horizontal > .Pane1,
div.SplitPane.soloPane2.horizontal > .Pane2 {
  height: 100% !important;
}

div.labinput,
div.sublabinput {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: left;
}
div.labinput *,
div.sublabinput * {
  display: block;
  margin: auto;
}

div.labinput span,
div.labinput label,
div.sublabinput span,
div.sublabinput label {
  text-align: center;
}

div.labinput label,
div.sublabinput label {
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
