/* Styles CodeMirror tooltip */
.tooltip {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  white-space: normal;
  box-sizing: border-box;
  font-size: 0.8em;
  font: monospace;
}
