name: Build
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  bench:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install packages
        uses: ./.github/actions/packages
      - name: Build @penrose/examples
        run: yarn build
        working-directory: packages/examples/
      - name: Build @penrose/core
        run: yarn build
        working-directory: packages/core/
      - name: Generate diagrams and metadata
        run: yarn start batch registry.json out/ --src-prefix=../examples/src/ --folders
        working-directory: packages/automator/
      - name: Upload generated diagrams and metadata
        uses: actions/upload-artifact@v2
        with:
          name: diagrams
          path: packages/automator/out/
      - name: Copy generated diagrams into diagrams/
        run: |
          for filename in packages/automator/out/*/output.svg; do
            dir=${filename#packages/automator/out/}
            name=${dir%/output.svg}
            cp "$filename" "diagrams/$name.svg"
          done
      - name: Ensure no generated diagrams have changed
        run: |
          "$GITHUB_WORKSPACE/.github/report_git_status.sh"

  build:
    runs-on: ubuntu-latest
    env:
      CI: false # TODO: eliminate warnings so we don't have to do this
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          # https://github.com/lerna/lerna/issues/1893#issuecomment-770614785
          fetch-depth: 0
      - name: Install packages
        uses: ./.github/actions/packages
      - name: Run all builds
        run: yarn build
      - if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        name: Authenticate with registry
        run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        name: Publish canary release
        run: yarn publish:canary --yes

  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install packages
        uses: ./.github/actions/packages
      - name: Format
        run: |
          if ! yarn format:check; then
            echo
            echo 'Run this command from the repository root:'
            echo
            echo '    yarn format'
            echo
            echo 'Then commit and push to re-run CI.'
            echo
            false
          fi

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install packages
        uses: ./.github/actions/packages
      - name: Lint
        run: yarn lint

  storybook:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/components/
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install packages
        uses: ./.github/actions/packages
      - name: Build @penrose/examples
        run: yarn build
        working-directory: packages/examples/
      - name: Build @penrose/core
        run: yarn build
        working-directory: packages/core/
      - name: Build storybook
        run: yarn build-storybook
      - if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        name: Deploy docs
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: packages/components/storybook-static
          target-folder: storybook/
      - name: Add .nojekyll
        run: |
          mkdir extra/
          touch extra/.nojekyll
      - if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        name: Deploy .nojekyll
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: packages/components/extra/
          clean: false

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install packages
        uses: ./.github/actions/packages
      - name: Build @penrose/examples
        run: yarn build
        working-directory: packages/examples/
      - name: Run all tests
        run: yarn test

  test-core:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/core/
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install packages
        uses: ./.github/actions/packages
      - name: Build @penrose/examples
        run: yarn build
        working-directory: packages/examples/
      - name: Make test report dir
        run: mkdir -p reports/junit/
      - name: Delete the diagrams we're about to generate
        run: rm -r "$GITHUB_WORKSPACE"/diagrams/
      - name: Run core tests and generate test data
        run: yarn coverage --ci --runInBand --reporters=default --reporters=jest-junit
      - name: Move test report
        run: mv junit.xml reports/junit/
      - name: Upload test coverage to codecov
        run: bash <(curl -s https://codecov.io/bash)
      # TODO: some equivalent of CircleCI's store_test_results
      # with path: packages/core/reports/junit/
      - uses: actions/upload-artifact@v2
        with:
          name: junit
          path: packages/core/reports/junit/
      - uses: actions/upload-artifact@v2
        with:
          name: coverage
          path: packages/core/coverage/

  typedocs:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/core/
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install packages
        uses: ./.github/actions/packages
      - name: Build @penrose/examples
        run: yarn build
        working-directory: packages/examples/
      - name: Build docs
        run: yarn docs
      - if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        name: Deploy docs
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: packages/core/docs/
          target-folder: typedoc
      - name: Add .nojekyll
        run: |
          mkdir extra/
          touch extra/.nojekyll
      - if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        name: Deploy .nojekyll
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: packages/core/extra/
          clean: false
