name: Release
on:
  release:
    types:
      - created

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        uses: ./.github/actions/setup
      - uses: actions/setup-node@v3
        with:
          registry-url: "https://registry.npmjs.org"
          node-version: 16
      - name: Build all packages
        run: yarn build
      - name: Publish npm packages
        run: npm publish --workspaces
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Publish VS Code extension
        working-directory: packages/vscode/
        run: npx vsce publish
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
