name: Generate Typedocs
on:
  push:
    branches:
      - main
      - max/gh-actions
defaults:
  run:
    working-directory: ./packages/core
jobs:
  Install-And-Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Restore lerna cache
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - name: Install packages
        run: yarn
      - name: Build docs
        run: yarn docs
      - name: Deploy docs
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: docs
          target-folder: typedoc
      - name: Add .nojekyll
        run: |
          mkdir extra
          touch extra/.nojekyll
      - name: Deploy .nojekyll
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: extra
